/* [do not change] this file is created by `rc' */

/* agGrid Input color > */
.ag-theme-balham-auto-dark input[class^=ag-] {
  color: #e3e3e3 !important;
}
/* < agGrid Input color */

/* dataTable hover bg > */
.dt-table-container__row-1 .cell-table tbody tr:hover td {
  background-color: rgb(218, 230, 247) !important;
}
/* < dataTable hover bg */

/* notepaper > */
.notepaper a {
  color: blue !important;
}
/* < notepaper */

/* note editor > */
.CodeMirror {
  height: 100%;
  width: 100%;
  background-color: #ffffffdd;
}
.CodeMirror-gutters {
  background-color: #f7f7f7;
}
/* < note editor */
